# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=5f5720118535a01b566bbab6d8755664

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
